import { ComponentFixture, TestBed } from '@angular/core/testing';
import { <%= classify(planetName) %>Component } from './<%= dasherize(planetName) %>.component';
import { <%= classify(planetName) %>Service } from './<%= dasherize(planetName) %>.service';
import { BasePlanetService } from '../../shared/services/base-planet.service';
import { HttpClientTestingModule } from '@angular/common/http/testing';

describe('<%= classify(planetName) %>Component', () => {
  let component: <%= classify(planetName) %>Component;
  let fixture: ComponentFixture<<%= classify(planetName) %>Component>;
  let mockService: jasmine.SpyObj<<%= classify(planetName) %>Service>;

  beforeEach(async () => {
    mockService = jasmine.createSpyObj('<%= classify(planetName) %>Service', ['getQuakes', 'getFallbackDataPublic']);
    
    await TestBed.configureTestingModule({
      imports: [<%= classify(planetName) %>Component, HttpClientTestingModule],
      providers: [
        { provide: <%= classify(planetName) %>Service, useValue: mockService }
      ]
    }).compileComponents();

    fixture = TestBed.createComponent(<%= classify(planetName) %>Component);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });

  it('should return correct planet name', () => {
    expect(component['getPlanetName']()).toBe('<%= planetName %>');
  });

  it('should extend BasePlanetComponent', () => {
    expect(component).toBeInstanceOf(<%= classify(planetName) %>Component);
  });
}); 