import { Component } from '@angular/core';
import { EarthquakeVisualizerComponent } from '../../earthquake-visualizer/earthquake-visualizer.component';
import { SidebarComponent } from '../../sidebar/sidebar.component';
import { <%= classify(planetName) %>Service } from './<%= dasherize(planetName) %>.service';
import { BasePlanetComponent } from '../../shared/components/base-planet.component';
import { HttpClientModule } from '@angular/common/http';

@Component({
  selector: 'app-<%= dasherize(planetName) %>',
  imports: [EarthquakeVisualizerComponent, SidebarComponent, HttpClientModule],
  templateUrl: './<%= dasherize(planetName) %>.component.html',
  styleUrls: ['./<%= dasherize(planetName) %>.component.sass', '../planet.sass'],
  providers: [<%= classify(planetName) %>Service]
})
export class <%= classify(planetName) %>Component extends BasePlanetComponent {
  constructor(<%= camelize(planetName) %>Service: <%= classify(planetName) %>Service) {
    super(<%= camelize(planetName) %>Service);
  }

  protected getPlanetName(): string {
    return '<%= planetName %>';
  }
} 