<div class="quakes-visualizer">
  <div class="canvas-container" style="cursor: grab;" #canvasContainer></div>

  <div class="pins-list">
    <ul>
      @for (marker of markers; track marker; let i = $index) {
        <li>
          <button
            class="btn-bluesky full-width"
            (click)="toggleMenu(i); selectedMarker = marker"
            >
            Lat: {{ marker.userData['lat'] }}, Long: {{ marker.userData['long'] }}
          </button>
          @if (activeMenuIndex === i) {
            <div class="custom-menu">
              <button class="btn-secondary" (click)="focusOnMarker(i)">Focus on Marker</button>
              <button class="btn-secondary" (click)="getMarkerDetails(i)">Show more Details</button>
            </div>
          }
        </li>
      }
    </ul>
  </div>
</div>
<style>
  :host {
  background-image: url("assets/images/space.jpg")
}
</style>
