<h2 mat-dialog-title>Marker Details</h2>
<mat-dialog-content>
  <p>Latitude: {{ markerDetails?.userData?.lat }}</p>
  <p>Longitude: {{ markerDetails?.userData?.long }}</p>
  @if (markerDetails?.userData?.planet == 'moon') {
    <p>The Cause: Impact</p>
  }
  @if (markerDetails?.userData?.planet == 'moon') {
    <img [src]="'assets/images/quakes/'+markerDetails.userData.id+'.jpg'" alt="" width="600">
  }

  @if (markerDetails?.userData?.planet == 'mars') {
    <img [src]="'assets/images/mars/'+markerDetails.userData.id+'.jpg'" alt="" width="800">
  }


</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn-secondary" (click)="close()">Close</button>
</mat-dialog-actions>
